---
import { getCollection } from 'astro:content'

import BackToHome from '@/components/BackToHome.astro'
import BlogCard from '@/components/BlogCard.astro'
import BlogHeader from '@/components/BlogHeader.astro'
import SEO from '@/components/SEO.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCustomTransition } from '@/lib/customTransition'
import { blogMetaData } from '@/lib/metaData'

import Decorator from '../projects/_components/Decorator.astro'

const blogEntries = await getCollection('blog')
---

<!-- <UnderConstruction /> -->
<BaseLayout>
  <SEO
    title={`Blog | ${blogMetaData.title}`}
    description={blogMetaData.description}
    slot='seo'
  />
  <Decorator slot='decorator' />
  <div class='items-center justify-between gap-4 lg:flex mt-16 sm:mt-40'>
    <BlogHeader />
    <BackToHome class='max-lg:hidden' />
  </div>
  <section class='mt-12 sm:mt-16' transition:animate={getCustomTransition(0.2)}>
    {blogEntries.map((item) => <BlogCard {...item} />)}
  </section>
</BaseLayout>
