.ray-light {
  background-color: hsla(158, 70%, 32%, 0.5);
  background: radial-gradient(
    ellipse closest-side at center,
    hsl(156, 100%, 48%) 0%,
    hsla(158, 70%, 32%, 0.5) 100%
  );
}

.ray-light-secondary {
  background-color: hsla(160, 60%, 22%, 0.25);
  background-image: radial-gradient(
    ellipse farthest-corner at center,
    hsl(152, 85%, 45%) 0%,
    hsla(160, 60%, 22%, 0.25) 55%
  );
}
