:root {
  --nav: 'nav';
}

.nav {
  --bottom-nav-bar-offset: 32px;

  anchor-name: --my-nav;
  view-transition-name: --nav;
}

::view-transition-group(--nav) {
  z-index: 10;
}

::view-transition-group(home) {
  z-index: 10;
}
::view-transition-group(projects) {
  z-index: 10;
}
::view-transition-group(blog) {
  z-index: 10;
}
::view-transition-group(about) {
  z-index: 10;
}
::view-transition-group(bookmarks) {
  z-index: 10;
}

@media (max-width: 480px) {
  .nav {
    --bottom-nav-bar-offset: 16px;
  }
}
